<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="hidden" id="checkmail" value="{{ email_exists }}">
    <input type="hidden" id="httpmethod" value="{{ method }}">
    
    <div id="form">
        <form action="{{ form_action }}" method="post">
            {% csrf_token %}
            <label for="username">Name:</label><br>
            <input type="text" id="username" name="{{ username }}" required><br><br>

            <label for="useremail">Email:</label><br>
            <input type="text" id="useremail" name="{{ useremail }}" required><br><br>

            <input type="submit" onclick="" value="submit"><br>
        </form>
    </div>

</body>
</html>